@import "./base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.zmiti-text {
	width: 1.4rem;
	@include pos(a);
	right: 1rem;
	top: .5rem;
}

.zmiti-zhengji {
	@include pos(a);
	width: .8rem;
	right: 2.5rem;
	top: .5rem;
}

.zmiti-t1, .zmiti-t2 {
	width: .8rem;
	@include pos(a);
	right: 2.5rem;
	top: 2.2rem;
}

.zmiti-t2 {
	right: 3.3rem;
	top: 3.2rem;
	width: .8/5*6rem;
}

.zmiti-t3, .zmiti-t4 {
	@include pos(a);
	width: 2.4rem;
	left: .1rem;
	top: 2.3rem;
}

.zmiti-t3 {
	left: 2.6rem;
	top: 2rem;
	width: 2rem;
}

.zmiti-entry {
	width: 5rem;
	@include pos(a);
	left: 2.5rem;
	bottom: 1.5rem;
}

.zmiti-look {
	text-decoration: underline;
	color: #7c6132;
	text-align: center;
	@include pos(a);
	bottom: .6rem;
	left: 0;
	width: 100%;
	font-size: 12px;
}

.zmiti-logo-index {
	@include pos(a);
	width: 2rem;
	left: .4rem;
	top: .4rem;
}

.zmiti-play {
	width: .8rem;
	height: .8rem;
	@include br();
	@include pos(f);
	z-index: 1000;
	right: .5rem;
	top: .5rem;

	&.rotate {
		@include animation(rotate 5s linear infinite);
	}

}

@-webkit-keyframes rotate {
	to {
		@include transform(rotate(360deg));
	}

}
