@import "./base.scss";

.zmiti-fill-height {
	height: 5rem;
}

.zmiti-help-text {
	width: 100%;
	text-align: center;
	font-size: .5rem;
	@include pos(r);
	margin-top: 1rem;

	&:before {
		content: '';
		@include pos(a);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 12px solid #df0024;
		left: 50%;
		@include transform(translate3d(-50%, 0, 0));
		top: 8vh;
	}

}

.zmiti-invite {
	width: 5rem;
	margin: 6vh auto 5vh;
}

.zmiti-help-money {
	width: 6rem;
	margin: 0 auto;
	text-align: center;

	h2 {
		color: #df0024;
		font-weight: normal;
	}

}

.zmiti-share-text {
	width: 9rem;
	line-height: .8rem;
	margin: .4rem auto;
	text-indent: 2em;
	color: #303030;
}

.zmiti-logo-xc {
	width: 100%;
	bottom: 1vh;
	font-size: 12px;
	text-align: right;
	margin: 10px auto;

	img {
		width: .5rem;
		vertical-align: top;
		margin: 0 auto;
	}

}

.zmiti-logo {
	width: 5rem;
	text-align: center;
	font-size: 12px;
	margin: 1rem auto;

	img {
		width: 1rem;
		display: block;
		margin: 0 auto;
	}

}

.zmiti-team {
	width: 9rem;
	margin: 1rem auto 0;

	&>div {
		line-height: .8rem;

		span {
			margin-right: .5rem;

			&:nth-of-type(1) {
			}

		}

	}

}
